<div class="container-fluid footer-container">
  <div class="row">
    <div class="col-sm-4">
      <div class="logo-container">
        <img src="/images/logo.png" class="footer-logo">
        <h2>ConnectIn</h2>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>About</h3>
      <hr class="footer-line">
      <p>
        ConnectIn was created by Eleni Karyofylli and Kristel Fung. <a href="/about">Read more <i class="fa fa-angle-double-right"></i></a>
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Contact</h3>
      <hr class="footer-line">
      <p>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;kristelfung@gmail.com
        <br>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;elenikaryofylli@gmail.com
      </p>
    </div>
  </div>
</div>

<div class="container-fluid lower-footer">
  <p>
    &copy; ConnectIn 2016. All Rights Reserved. <a href="/termsandconditions">Terms and Conditions</a>. <a href="/privacypolicy">Privacy Policy</a>.
  </p>
</div>
