<div class="container-fluid about-container">
  <h1> About Us</h1>
  <hr class="aboutheading-line">
  <h2> The Team </h2>
  <p><b> Eleni Karyofylli </b><br> Born on the 25th of July 2000, in Thessaloniki, Greece. She enjoys drawing, reading books and playing volleyball. She is currently in high school (Anatolia College, Thessaloniki), but hopes to pursue a career in engineering. She is the co-founder of ConnectIn, along with Kristel Fung.</p>
  <p><b> Kristel Fung </b><br> Born on the 23rd of March 2000, in Hong Kong SAR. She attends Hong Kong International School, and plays softball for her school's team. She has an interest in web development, backend and frontend, and she hopes to become a full stack developer one day. She likes playing video games and reading books in her spare time. She is the co-founder of ConnectIn, along with Eleni Karyofylli.
  </p>
</div>
