<div class="jumbotron vertical-center">
  <div class="container-fluid">
    <h1>ConnectIn</h1>
    <p>A web platform designed to connect users by sharing online profiles.</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
    <a class="btn btn-success btn-lg" href="/registration" role="button">Sign Up</a>
  </div>
</div>

<div class="container-fluid home-desc-container">
  <div class="row">
    <div class="col-md-6">
      <h1>What is ConnectIn?</h1>
      <hr class="heading-line">
      <p>
        ConnectIn is a social media platform, designed so that users can store information about themselves online. The information is presented online in a concise and clean way, so that friends and family can find each others' profiles and contact each other through a friend and chat system. ConnectIn can be used for a variety of things, like job search or finding people who share your interests.
      </p>
    </div>
    <div class="col-md-6 home-desc-img-column">
      <img src="/images/connection.png" class="home-desc-img">
    </div>
  </div>
</div>

<div class="container-fluid three-column">
  <div class="row">
    <div class="col-md-4">
      <div class="container-fluid fontawesome-square">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <h1>Connect</h1>
      <p>
        As you can tell by the name, ConnectIn is all about connecting people from different parts of the world. With this platform, this has become easier than ever.
      </p>
    </div>
    <div class="col-md-4">
      <div class="container-fluid fontawesome-square">
        <i class="fa fa-comments" aria-hidden="true"></i>
      </div>
      <h1>Talk</h1>
      <p>
        Communicate with people you are interested in. This feature is excellent for tasks that require you to serach for people, such as job search.
      </p>
    </div>
    <div class="col-md-4">
      <div class="container-fluid fontawesome-square">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <h1>Search</h1>
      <p>
        Use ConnectIn's built in search function to find users based on tags, or just enter in your own keywords to find people you need.
      </p>
    </div>
  </div>
</div>
